* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: center;
  font: bold;
  font-size: x-large;

  background-image: url(../Assests/clouds.gif),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  border-radius: 2vh;
}

.weather-today {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  padding: 5vh;
  margin: auto;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 20px; */
  /* margin-top: 2vh; */
  align-items: center;
  gap: 10px;
  /* border-radius: 20px; */
  font-size: 25px;
  /* border: 2px solid rgb(114, 105, 105); */
  /* box-shadow: -0.1em 0.1em 0.9em #5e5555; */
}

.content {
  margin-top: 2vh;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(114, 105, 105);
  box-shadow: -0.1em 0.1em 0.9em #585363;
}

.input {
  border-color: #ccc;
  border-radius: 0 15px;
  font-size: x-large;
  padding: 2.5vh;
  outline: none;
  width: 250px;
  height: 42px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vh;
  border-radius: 0 15px;
  font-size: x-large;
  font-style: italic;
  height: 42px;
}

.coord {
  display: flex;
  gap: 10vh;
  font-size: large;
  color: white;
  font: bold 18px arial;
}

.head {
  font-size: xx-large;
  font: bold 35px arial;
  margin-bottom: 1vh;
  color: rgb(255, 255, 255);
}

.loading {
  color: rgb(255, 255, 255);
}

.city {
  font-size: 6vh;
  color: white;
  font-weight: 500;
  text-shadow: 0.09em 0.13em 0.1em #330404;
}

.temp {
  margin-top: 5vh;
  font-size: 4vh;
  font-weight: 500;
  color: white;
  text-shadow: 0.1em 0.15em 0.1em #2b1313;
}

.temp2 {
  font-size: large;
  color: white;
  font-weight: bold;
}

.desc {
  margin-top: 30px;
  font-size: xx-large;
  font-weight: 500;
  color: white;
}

.sun {
  display: flex;
  gap: 15vh;
  color: white;
}

.cloud {
  color: white;
}
.error {
  color: white;
  font-size: xx-large;
  font-weight: 400;
}
